<div class="container">
<div class="page-header">
  <h1  class="text-center">XWaves <small>Ismertető</small></h1>
</div>

<h3 class="text-center">Bevezetés</h3>
  <blockquote>
Az Xwaves játékban kalandozók csapata a sötétség világába érkezve, szörnyekkel csapnak össze,
õsi varázslatokat keltenek új életre, és felkutatják azokat az ereklyéket,
amelyek segítségével gyõzelmet arathatnak a sötét hatalmak felett.
  </blockquote>
<h3 class="text-center">A játék célja</h3>
  <blockquote class="pull-right">
Legfeljebb négy játékos bújhat a hõsök bõrébe,
egy játékosnak pedig a játékmester szerepe jut:
õ lesz az, aki a játék elején létrehozza a sötét világot sötétség lényeivel.
A hõsök szörnyekkel hadakozva derítik fel a világot. Mindeközben egységes csapatként
mûködnek együtt, hiszen csak úgy teljesíthetik küldetésüket.
A játékmester viszont arra törekszik a világ felállításánál, hogy a hõsök elbukja-
nak.
Eszközei: Különböző környezeti elemek és a sötétségből előhívott szörnyek.
  </blockquote>
<h3 class="text-center">A játék vége</h3>
<blockquote>
Ha a Hősök elbuknak akkor a játékmesternek ítélhetjük a győzelmet és a sötétség felemészti a világot.
Viszont ha az egész világot felderítve kiírtották a sötétséget a hősök, akkor e világ békességben élhet tovább.
A jó tisztasága gyözedelmeskedik a gonosz felett.
</blockquote>
<h3 class="text-right">A játék elemei</h3>
  <blockquote class="pull-right">
Sötétségből jött lények és a Hősökről bővebb leírást találsz : <a routerLink="/cyclopaedia">ITT</a>
  </blockquote>
</div>

