<div class="container">
  <div style = "margin-bottom: 60px;">
    <h2>Games
    </h2>
    <span>Choose game or create your own! </span>
    <ul class="nav nav-pills pull-right" role="tablist">
      <li role="presentation" (click)="btnSearchActive()" [ngClass]="{ 'active': searchActive}"><a routerLink="/games/search">Search</a></li>
      <li role="presentation" (click)="btnCreateActive()" [ngClass]="{ 'active': createActive }"><a routerLink="/games/create">Create</a></li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
