<div class="container">
  <h2 align="center">Cyclopaedia</h2>
  <div style="width: 100%; margin-bottom: 20px;">
  <button type="button" class="btn btn-primary" routerLink="/cyclopaedia/heroes" style="width: 33%; margin: 0 auto;">Heroes</button>
  <button type="button" class="btn btn-primary" routerLink="/cyclopaedia/monsters" style="width: 33%; margin: 0 auto;">Monsters</button>
  <button type="button" class="btn btn-primary" routerLink="/cyclopaedia/items" style="width: 33%; margin: 0 auto;">Items</button>
  </div>
  </div>
<router-outlet></router-outlet>
