<div class="mainwrapper">
<div class="wrapper">
  <div class="gameboard">
    <div class="middle">1</div>
    <div class="middle">2</div>
    <div class="middle">3</div>
    <div class="middle">4</div>
    <div class="middle">5</div>
    <div class="middle">6</div>
    <div class="middle">7</div>
    <div class="middle">8</div>
    <div class="middle">9</div>
    <div class="middle">10</div>
    <div class="middle">11</div>
    <div class="middle">12</div>
    <div class="middle">13</div>
    <div class="middle">14</div>
    <div class="middle">15</div>
    <div class="middle">16</div>
    <div class="middle">17</div>
    <div class="middle">18</div>
    <div class="middle">19</div>
    <div class="middle">20</div>
    <div class="middle">21</div>
    <div class="middle">22</div>
    <div class="middle">23</div>
    <div class="middle">24</div>
    <div class="middle">25</div>
    <div class="middle">26</div>
    <div class="middle">27</div>
    <div class="middle">28</div>
    <div class="middle">29</div>
    <div class="middle">30</div>
    <div class="middle">31</div>
    <div class="middle">32</div>
    <div class="middle">33</div>
    <div class="middle">34</div>
    <div class="middle">35</div>
    <div class="middle">36</div>
    <div class="middle">33</div>
    <div class="middle">34</div>
    <div class="middle">35</div>
    <div class="middle">36</div>
    <div class="middle">1</div>
    <div class="middle">2</div>
    <div class="middle">3</div>
    <div class="middle">4</div>
    <div class="middle">5</div>
    <div class="middle">6</div>
    <div class="middle">7</div>
    <div class="middle">8</div>
    <div class="middle">9</div>
    <div class="middle">10</div>
    <div class="middle">11</div>
    <div class="middle">12</div>
    <div class="middle">13</div>
    <div class="middle">14</div>
    <div class="middle">15</div>
    <div class="middle">16</div>
    <div class="middle">17</div>
    <div class="middle">18</div>
    <div class="middle">19</div>
    <div class="middle">20</div>
    <div class="middle">21</div>
    <div class="middle">22</div>
    <div class="middle">23</div>
    <div class="middle">24</div>
    <div class="middle">25</div>
    <div class="middle">26</div>
    <div class="middle">27</div>
    <div class="middle">28</div>
    <div class="middle">29</div>
    <div class="middle">30</div>
    <div class="middle">31</div>
    <div class="middle">32</div>
    <div class="middle">33</div>
    <div class="middle">34</div>
    <div class="middle">35</div>
    <div class="middle">36</div>
    <div class="middle">33</div>
    <div class="middle">34</div>
    <div class="middle">35</div>
    <div class="middle">36</div>
    <div class="middle">1</div>
    <div class="middle">2</div>
    <div class="middle">3</div>
    <div class="middle">4</div>
    <div class="middle">5</div>
    <div class="middle">6</div>
    <div class="middle">7</div>
    <div class="middle">8</div>
    <div class="middle">9</div>
    <div class="middle">10</div>
    <div class="middle">1</div>
    <div class="middle">2</div>
    <div class="middle">3</div>
    <div class="middle">4</div>
    <div class="middle">5</div>
    <div class="middle">6</div>
    <div class="middle">7</div>
    <div class="middle">8</div>
    <div class="middle">9</div>
    <div class="middle">10</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>Monsters:</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="list-group list-cust">
          <a href="#" class="list-group-item text-primary active">monster_zero  <span style="float:right">300 <span style="float:right" class="glyphicon glyphicon-usd" aria-hidden="true"></span></span> </a>
          <a href="#" class="list-group-item text-primary">monster_one  <span style="float:right">500 <span style="float:right" class="glyphicon glyphicon-usd" aria-hidden="true"></span></span> </a>
          <a href="#" class="list-group-item text-primary">monster_two  <span style="float:right">300 <span style="float:right" class="glyphicon glyphicon-usd" aria-hidden="true"></span></span> </a>
          <a href="#" class="list-group-item text-primary">monster_three  <span style="float:right">320 <span style="float:right" class="glyphicon glyphicon-usd" aria-hidden="true"></span></span> </a>
          <a href="#" class="list-group-item text-primary">monster_four  <span style="float:right">321 <span style="float:right" class="glyphicon glyphicon-usd" aria-hidden="true"></span></span> </a>
        </div>
      </div>
      <div class="col-md-4" style="padding:0px">

      </div>
      <div class="col-md-4" style="padding:0px">

      </div>
    </div>
  </div>
</div>
</div>
