.wrapper {
  width: 642px;
  height: 642px;
  margin:0 auto;
  background-image: url('../../../assets/place.jpg');
  float: right;
}
.gameboard {
  width: 660px;
  height:660px;
  border:3px solid white;
  z-index: 1;
}
.gameboard div {
  width: 64px;
  height: 64px;
  float: left;
}
.gameboard div:hover {
  background-color: rgba(200, 250, 54, 0.5);;
}

.middle {
  border: 1px solid white;
}
.button {
  background-color:white;
  width: 160px;
  margin:0 auto;
}
.updown {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.leftright {
  border-left: 1px solid white;
  border-right: 1px solid white;
}



.list-cust .list-group-item {
  border-right:0px;
  border-left:0px;
  height: 50px;
}

.target{
  float: left;
}
section{
  margin-top: 20px;
}

.imagetd{
  width: 150px;
}

#list{
  max-height: 500px;
  overflow-y:scroll;
}

.form-control{
  width: 300px;
}

