<div class="wrapper">
  <div class="gameboard">
    <div class="middle" *ngFor="let i of array" (click)="targetClick(i)">
      <img class="img-rounded img-responsive" *ngIf="boardMatrix[i].path" [src]="'../../../assets'+boardMatrix[i].path"></div>
  </div>
</div>

<section>
  <div class="target">
    <section class="col-md-4 col-md-offset-1">

      <div class="h4">
        {{yourHero.name}}
      </div>
      <table class="table">
        <tr>
          <td>
            <div class="imagetd">
              <figure>
                <img class="img-rounded img-responsive" [src]="'../../assets'+yourHero.path">
              </figure>
            </div>
          </td>
          <td>
            <dl class="dl-horizontal">
              <dt>Health:</dt>
              <dd>{{yourHero.health}}</dd>
              <dt>Attack:</dt>
              <dd>{{yourHero.attack}}</dd>
              <dt>Stamina:</dt>
              <dd>{{yourHero.stamina}}</dd>
              <dt>Defense:</dt>
              <dd>{{yourHero.defense}}</dd>
              <dt>Speed:</dt>
              <dd>{{yourHero.speed}}</dd>
              <dt>Type:</dt>
              <dd>{{yourHero.type}}</dd>
            </dl>
          </td>
        </tr>
      </table>
      <span>Health:</span>
      <div class="progress">

        <div class="progress-bar" role="progressbar" [attr.aria-valuenow]="yourHero.health"
             aria-valuemin="0" aria-valuemax="100" [style.width]="(yourHero.health/15)*100 + '%'">
        </div>
      </div>
      <button (click)="endTurn()" type="button" class="btn btn-success">End turn!</button>
    </section>
  </div>
</section>

