<section class="col-md-4 col-md-offset-1" >
  <section class="well">
    <div class="h4">
      Monster neve
    </div>
    <figure>
      <img class="img-rounded img-responsive" src="">
    </figure>
    <dl class="dl-horizontal">
      <dt>Attack type:</dt>
      <dd>ranged</dd>
      <dt>Attack:</dt>
      <dd>785</dd>
      <dt>Health:</dt>
      <dd>89</dd>
      <dt>Stamina:</dt>
      <dd>150</dd>
      <dt>Defense:</dt>
      <dd>150</dd>
      <dt>Speed:</dt>
      <dd>150</dd>
      <dt>Cost:</dt>
      <dd>150</dd>
    </dl>
  </section>
</section>
