<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Login!</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">valami_1</a></li>
        <li><a href="#">valami_2</a></li>
        <li><a href="#">valami_3</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Settings<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">valami_4</a></li>
            <li><a href="#">valami_5</a></li>
            <li><a href="#">valami_6</a></li>
          </ul>
        </li>
      </ul>

    </div>
  </div>
</nav>
