<section class="col-md-4 col-md-offset-1" >
  <section class="well">
    <div class="h4">
      {{monster.name}}
    </div>
    <figure>
      <img class="img-rounded img-responsive" src="">
    </figure>
    <dl class="dl-horizontal">
      <dt>Attack type:</dt>
      <dd>{{monster.attacktype}}</dd>
      <dt>Attack:</dt>
      <dd>{{monster.attack}}</dd>
      <dt>Health:</dt>
      <dd>{{monster.health}}</dd>
      <dt>Stamina:</dt>
      <dd>{{monster.stamina}}</dd>
      <dt>Defense:</dt>
      <dd>{{monster.defense}}</dd>
      <dt>Speed:</dt>
      <dd>{{monster.speed}}</dd>
      <dt>Cost:</dt>
      <dd>{{monster.cost}}</dd>
    </dl>
  </section>
</section>
