<section class="col-md-4 col-md-offset-1" >
  <section class="well">
    <div class="h4">
      {{heroName}}
    </div>
    <figure>
      <img class="img-rounded img-responsive" src="">
    </figure>
    <dl class="dl-horizontal">
      <dt>Type:</dt>
      <dd>{{heroType}}</dd>
      <dt>Attack:</dt>
      <dd>{{heroAttack}}</dd>
      <dt>Health:</dt>
      <dd>{{heroHealth}}</dd>
      <dt>Stamina:</dt>
      <dd>{{heroStamina}}</dd>
      <dt>Defense:</dt>
      <dd>{{heroDefense}}</dd>
      <dt>Speed:</dt>
      <dd>{{heroSpeed}}</dd>
    </dl>
  </section>
</section>
